* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0e0e0e;
  color: white;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4C57FF;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #4C57FF;
}

/* FORM */
.container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

form {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #2c2c2c;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #111;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4C57FF;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  opacity: 0.85;
}

/* POPUP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none; /* default hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background: #1a1a1a;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    width: 90%;
    color: white;
    box-shadow: 0 0 10px #000;
}

.popup-content button {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    background: #4C57FF;
    color: #fff;
    cursor: pointer;
}

.popup-content button:hover {
    opacity: 0.8;
}

