/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* COLORS */
:root {
    --primary: #4C57FF;
    --dark: #0E0E0E;
    --light: #ffffff;
    --gray: #bcbcbc;
}

/* BODY */
body {
    background: var(--dark);
    color: var(--light);
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(14, 14, 14, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: var(--light);
    text-decoration: none;
    transition: .3s;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--primary);
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.2)),
        url('https://images.unsplash.com/photo-1522199794611-8e3563b66e78?auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    background-position: center;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: var(--primary);
}

.hero-text p {
    margin: 15px 0;
    font-size: 18px;
    color: var(--gray);
}

.btn {
    padding: 10px 25px;
    background: var(--primary);
    color: var(--light);
    text-decoration: none;
    border-radius: 5px;
    transition: .3s;
}
.btn:hover {
    opacity: 0.8;
}

/* ABOUT */
.about {
    padding: 100px 50px;
}

.about-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.about img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

/* PROJECTS */
.projects {
    padding: 100px 50px;
}

.project-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.project-card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #2c2c2c;
    text-decoration: none;
    color: var(--light);
    transition: .3s;
}

.project-card:hover {
    border-color: var(--primary);
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* CONTACT */
.contact {
    padding: 100px 50px;
    text-align: center;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    color: var(--gray);
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    .about-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        padding: 20px;
        text-align: center;
        justify-content: center;
    }

    .hero-text h1 {
        font-size: 35px;
    }
}

